/.metadata/
*.fdt
*.fdx
*.fnm
*.frq
*.gen
*.lock
*.tis
*.tii
*.prx
*.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_2
